/*-----------------------------------------------
	container
-----------------------------------------------*/
body {
	background-color: $colorBg01;
}

.l-wrapper {
	position: relative;
	@include pc {
		width: $contentWidthPlayer;
		margin: 30px auto 20px auto;
	}
	@include sp {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 6vw;
	}
}
