
/*-----------------------------------------------
	utility class
-----------------------------------------------*/
// display
.u-pcNone{
	@include pc{
		display: none !important;
	}
}
.u-spNone{
	@include sp{
		display: none !important;
	}
}

// loading
.u-loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-size: 1em;
	overflow: hidden;
	z-index: 9999;
	&__spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		&::before {
			content: "";
			display: block;
			width: 5em;
			height: 5em;
			// margin: 2em auto;
			border-radius: 50%;
			border-top: .4em solid rgba(192,192,192, 0.2);
			border-right: .4em solid rgba(192,192,192, 0.2);
			border-bottom: .4em solid rgba(192,192,192, 0.2);
			border-left: .4em solid #c0c0c0;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation: load8 1.1s infinite linear;
			animation: load8 1.1s infinite linear;
		}
	}
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}