<footer class="l-footer">
	<div class="l-footer__inner">
		<div class="l-footer__primary">
			<ul class="l-footer__link">
				<li><a href="https://www.lilly.co.jp/privacy" target="_blank">個人情報の保護について</a></li>
				<li><a href="https://www.lillymedical.jp/ja-jp/home/terms-of-use" target="_blank">利用規約</a></li>
				<li><a href="https://www.lilly.co.jp/accessibility" target="_blank">アクセシビリティに関して</a></li>
			</ul>
			<div class="l-footer__materialnumber"><%- page.materialnumber %>　<%- page.materialdate %>　このサイトは日本国内の医療従事者の方のみを対象としています。</div>
			<div class="l-footer__copyright">Copyright &copy; 2023 Eli Lilly Japan K.K. All rights reserved.</div>
		</div>
		<div class="l-footer__secondary">
		</div>

	</div>
</footer>