<main class="l-main">
	<div class="l-contents">
		<% if (typeof page.categoryTitle == 'undefined' || page.categoryTitle === '') { %>
		<h2 class="l-contents__title"><%= page.title %></h2>
		<% if (page.listPageDocumentSrc === 'list_dmg') { %>
		<ul class="p-titlelink">
			<li class="p-titlelink__item"><a href="<%- page.listPageDocumentSrc %>" target="_blank">添付文書情報を見る</a></li>
		</ul>
		<% }%>
		<% } else { %>
		<h2 class="l-contents__title"><%= page.title %><span class="l-contents__categoryTitle"><%= page.categoryTitle %></span></h2>
		<% if (page.id === 'list_dmg') { %>
		<ul class="p-titlelink">
			<li class="p-titlelink__item"><a href="<%- page.listPageDocumentSrc %>" target="_blank">添付文書情報を見る</a></li>
		</ul>
		<% }%>
		<% } %>
		<% if (page.id !== 'mylist') { %>
		<div class="l-contents__filterTag">
			<%- include('../_partial/_filter_tag', { page: page }) %>
		</div>
		<% } %>
		<div class="l-contents__videoList">
		<%- include('../_partial/_video_list', { page: page }) %>
		<%- include('../_partial/_pagination', { page: page }) %>
		</div>
	</div>
</main>