/*-----------------------------------------------
	main
-----------------------------------------------*/
.l-main {
	background-image: -moz-linear-gradient(90deg, rgb(252,248,244) 0%, rgb(250,252,237) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(252,248,244) 0%, rgb(250,252,237) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(252,248,244) 0%, rgb(250,252,237) 100%);
	background-image: linear-gradient(90deg, rgb(252,248,244) 0%, rgb(250,252,237) 100%);
	@include pc {
		padding-top: 75px;
		padding-bottom: 100px;
	}
	@include sp {
		padding-top: 11vw;
		padding-bottom: 15vw;
	}
}

.l-contents {
	@include pc {
		width: $contentWidth;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	@include sp {
		margin-left: 4vw;
		margin-right: 4vw;
	}
	& + &{
		@include pc{
			
		}
		@include sp{

		}
	}
	&__title {
		color: $colorPrimary;
		font-weight: bold;
		@include pc{
			font-size: 36px;
		}
		@include sp{
			font-size: 5.8vw;
			text-align: center;
		}
	}
	&__categoryTitle {
		color: $colorTextMain;
		border-left: 1px solid $colorTextMain;
		@include pc{
			margin-left: 30px;
			padding-left: 30px;
			font-size: 22px;
		}
		@include sp{
			margin-left: 1em;
			padding-left: 1em;
			font-size: 3.8vw;
		}
	}
	&__filterTag {
		@include pc{
			margin-top: 30px;
		}
		@include sp{
			margin-top: 8vw;
		}
	}
	&__videoList {
		@include pc{
			margin-top: 20px;
		}
		@include sp{
			margin-top: 2vw;
		}
	}
}