<% if (page.mode && page.mode === 'demo') { %>
<div class="p-filterTag">
	<div class="p-filterTag__header">
		<div class="p-filterTag__inner">
			<div class="p-filterTag__title">コンテンツを絞り込む</div>
			<div class="p-filterTag__arrow"></div>
		</div>
	</div>
	<div class="p-filterTag__body">
		<ul class="p-filterTagList">
			<li class="p-filterTagList__item is-selected">全て</li>
			<% for (let i = 1; i <= 10; i++) { %>
			<li class="p-filterTagList__item">タグタグタグ<%= i %></li>
			<% } %>
		</ul>
	</div>
</div>
<% } else { %>
<div class="p-filterTag" id="filterTag">
	<div class="p-filterTag__header" id="filterTagHeader">
		<div class="p-filterTag__inner">
			<div class="p-filterTag__title">コンテンツを絞り込む</div>
			<div class="p-filterTag__arrow"></div>
		</div>
	</div>
	<div class="p-filterTag__body">
		<ul class="p-filterTagList" id="filterTagList"></ul>
	</div>
</div>
<% } %>


