<% if (page.mode && page.mode === 'demo') { %>
	<!-- <div class="p-player__footer">
		<div class="p-player__footer__logo">
			<img src="<%- page.basePath %>common_bc/images/logo_lilly.png" alt="">
		</div>
		<p class="p-player__footer__copyright">Copyright &copy; 2021 Eli Lilly Japan K.K. All rights reserved.</p>
	</div> -->
	<% } else { %>
	<div class="p-player__footer__inner">
		<div class="p-player__footer__primary">
			<ul class="p-player__footer__link">
				<li><a href="https://www.lilly.co.jp/privacy" target="_blank">個人情報の保護について</a></li>
				<li><a href="https://www.lillymedical.jp/ja-jp/home/terms-of-use" target="_blank">利用規約</a></li>
				<li><a href="https://www.lilly.co.jp/accessibility" target="_blank">アクセシビリティに関して</a></li>
			</ul>
			<div class="p-player__footer__materialnumber"><%- page.materialnumber %>　<%- page.materialdate %>　このサイトは日本国内の医療従事者の方のみを対象としています。</div>
			<div class="p-player__footer__copyright">Copyright &copy; 2023 Eli Lilly Japan K.K. All rights reserved.</div>
		</div>
		<div class="p-player__footer__secondary">
			<div class="p-player__footer__logo" id="footerLogo"></div>
		</div>
	</div>
	<% } %>
