<% if (page.mode && page.mode === 'demo') { %>
<div class="p-playerHeader">
	<h2 class="p-playerHeader__title">Gossec先生道：PsA のEULAR Recommendation 2019におけるIL-17阻害薬の位置づけ</h2>
	<div class="p-playerHeader__brandLogo">
		<img src="<%- page.basePath %>common_dmg/images/logo_olm.png" alt="">
	</div>
</div>
<% } else { %>
<div class="p-playerHeader">
	<h2 class="p-playerHeader__title">
		<span class="p-playerHeader__title--main" id="videoTitle01"></span>
		<span class="p-playerHeader__title--sub" id="videoTitle02"></span>
	</h2>
	<div class="p-playerHeader__brandLogo" id="brandLogo">
		<!-- <img src="" alt=""> -->
	</div>
</div>
<% } %>
