<% if (page.mode && page.mode === 'demo') { %>
<div class="p-playerRelatedVideo">
	<div class="p-playerRelatedVideo__top">
		<h3 class="p-playerRelatedVideo__title">関連コンテンツ</h3>
		<a class="p-playerRelatedVideo__link" href="">コンテンツ一覧</a>
	</div>
	<div class="p-playerRelatedVideo__list">
		<ul class="p-relatedVideoList is-demo">
			<% for (let i = 1; i <= 5; i++) { %>
			<li class="p-relatedVideoList__item">
				<div class="p-relatedVideoItem">
					<a class="p-relatedVideoItem__link" href="">
						<div class="p-relatedVideoItem__thumb">
							<img src="https://dummyimage.com/270x152/888/fff" alt="">
						</div>
						<p class="p-relatedVideoItem__title">テストテキストです。テストテキストです。</p>
					</a>
					<div class="p-relatedVideoItem__detail">
						<div class="p-relatedVideoItem__info">
							<div class="p-relatedVideoInfo">
								<div class="p-relatedVideoInfo__time">04分39秒</div>
								<div class="p-relatedVideoInfo__expired">配信期限</div>
								<div class="p-relatedVideoInfo__date">2020年12月20日まで</div>
							</div>
						</div>
						<div class="p-relatedVideoItem__labelList">
							<ul class="p-relatedVideoLabelList">
								<li class="p-relatedVideoLabelList__item p-relatedVideoLabelList__item--olm">オルミエント</li>
								<li class="p-relatedVideoLabelList__item">関節リウマチ</li>
							</ul>
						</div>
						<% if (i == 1) { %>
						<div class="p-relatedVideoItem__checkButton is-active"></div>
						<% } else { %>
						<div class="p-relatedVideoItem__checkButton"></div>
						<% } %>
					</div>
				</div>
			</li>
			<% } %>
		</ul>
	</div>
</div>
<% } else { %>
<div class="p-playerRelatedVideo">
	<div class="p-playerRelatedVideo__top">
		<h3 class="p-playerRelatedVideo__title">関連コンテンツ</h3>
		<a class="p-playerRelatedVideo__link" id="relatedVideoLink" href="">コンテンツ一覧</a>
	</div>
	<div class="p-playerRelatedVideo__list">
		<ul class="p-relatedVideoList" id="relatedVideoList"></ul>
	</div>
</div>
<% } %>