<% if (page.mode && page.mode === 'demo') { %>
<ul class="p-videoList">
	<% for (let i = 1; i <= 10; i++) { %>
	<li class="p-videoList__item">
		<div class="p-videoItem">
			<a class="p-videoItem__link" href="">
				<div class="p-videoItem__thumb">
					<img src="https://dummyimage.com/270x152/888/fff" alt="">
				</div>
				<p class="p-videoItem__title">テストテキストです。テストテキストです。テストテキストです。</p>
			</a>
			<div class="p-videoItem__detail">
				<div class="p-videoItem__info">
					<div class="p-videoInfo">
						<div class="p-videoInfo__time">04分39秒</div>
						<div class="p-videoInfo__expired">視聴期限</div>
						<div class="p-videoInfo__date">2020年12月20日まで</div>
					</div>
				</div>
				<div class="p-videoItem__labelList">
					<ul class="p-videoLabelList">
						<% if (i == 1) { %>
						<li class="p-videoLabelList__item p-videoLabelList__item--tal">トルツ</li>
						<% } else { %>
						<li class="p-videoLabelList__item p-videoLabelList__item--olm">オルミエント</li>
						<% } %>
						<li class="p-videoLabelList__item">関節リウマチ</li>
					</ul>
				</div>
				<% if (i == 1) { %>
				<div class="p-videoItem__checkButton is-active"></div>
				<% } else { %>
				<div class="p-videoItem__checkButton"></div>
				<% } %>
			</div>
		</div>
	</li>
	<% } %>
</ul>
<% } else { %>
<ul class="p-videoList" id="videoList"></ul>
<% } %>


