/*-----------------------------------------------
	player block
-----------------------------------------------*/
.p-player {
	&__header {
		border-bottom: 1px solid #ccc;
		@include pc {
			padding: 16px 20px;;
		}
		@include sp {
			padding: 2.5vw;
		}
	}
	&__main {
		@include pc {

		}
		@include sp {

		}
	}
	&__footer {
		border-top: 1px solid #ccc;
		@include pc {
			padding: 24px 20px;
		}
		@include sp {
			padding: 4vw 2.5vw;
		}
	}
}

.p-playerHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@include pc{
		gap: 5px;
	}
	@include sp{
		gap: 5px;
	}
	&__title {
		width: 70%;
		font-weight: bold;
		line-height: 1.7;
		color: $colorGray03;
		@include pc {
			font-size: 20px;
		}
		@include sp {
			font-size: 3.4vw;
		}
		&--main {
			display: block;
			font-size: 1em;
		}
		&--sub {
			display: block;
			font-size: .8em;
			@include pc {

			}
			@include sp {

			}
		}
	}
	&__brandLogo {
		@include pc {
			margin-left: 10px;
			display: flex;
			align-items: center;
			height: 100%;
			margin-bottom: auto;
		}
		@include sp {

		}
		img {
			@include pc {
				// width: 100%;
				// height: 100%;
				max-width: 300px;
				max-height: 50px;
			}
			@include sp {
				max-width: 120px;
				max-height: 32px;
			}
		}
	}
}

.p-playerContent {
	&__player {
		@include pc {
			padding: 20px 20px 20px 20px;
		}
		@include sp {
			padding: 4vw 2.5vw 2.5vw;
		}
		img{
			width: 100%;
		}
	}
	&__relatedVideo {
		display: none;
		background-color: $relatedVideoBgColor01;
		width: 100%;
		@include pc {

		}
		@include sp {
			margin-top: 5vw;
		}
	}
}

.p-playerContainer {
	position: relative;
	border: 5px solid $colorGray03;
	&::after {
		content: "";
		display: block;
		width: 100%;
		padding-bottom: 56.25%;
	}
	&__player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.p-playerBottom {
	@include pc {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 30px;
	}
	@include sp {
		margin-top: 4vw;
	}
	&__item {
		&:nth-child(1) {
			@include pc {
				width: 370px;
			}
			@include sp {
			}
			[data-page-type=pdf] &{
				@include pc {
					width: 280px;
				}
			}
		}
		&:nth-child(2) {
			@include pc {
			}
			@include sp {
			}
		}
	}
}

.p-playerDetail {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@include pc {
		margin-top: 5px;
	}
	@include sp {
		margin-top: 5vw;
	}
	&__item {

	}
}

.p-videoInfo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $colorGray01;
	@include pc {

	}
	@include sp {

	}
	&__time {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include pc {
			font-size: 15px;
			margin-right: 10px;
		}
		@include sp {
			font-size: 3.2vw;
			margin-right: 1em;
		}
		&::before {
			content: "";
			display: block;
			background-image: url("../images/ico_clock.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@include pc {
				width: 1em;
				height: 1em;
				margin-right: .3em;
			}
			@include sp {
				width: 1em;
				height: 1em;
				margin-right: .3em;
			}
		}
	}
	&__expired {
		border: 1px solid $colorGray01;
		border-radius: 10px;
		@include pc {
			padding: .25em .5em;
			margin-right: 2px;
			font-size: 11px;
		}
		@include sp {
			padding: .2em 1em;
			margin-right: .5em;
			font-size: 2.5vw;
		}
	}
	&__date {
		@include pc {
			font-size: 15px;
		}
		@include sp {
			font-size: 3.2vw;
		}
	}
}

.p-videoLabelList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include pc {
		margin-top: 12px;
	}
	@include sp {
		margin-top: 3vw;
	}
	&__item {
		border-radius: 3px;
		@include pc {
			padding: .25em 1em;
			font-size: 12px;
		}
		@include sp {
			padding: .2em 1em;
			font-size: 3vw;
		}
		&:nth-of-type(1) {
			background-color: $videoLabelColor01;
			border: 1px solid $videoLabelColor01;
			color: #fff;
		}
		&:nth-of-type(2) {
			background-color: rgba(#fff, 1);
			border: 1px solid $videoLabelColor01;
			color: $videoLabelColor01;
		}
		& + & {
			@include pc {
				margin-left: .5em;
			}
			@include sp {
				margin-left: .5em;
			}
		}
	}
}

.p-playerCheckButton {
	background-image: url("../../common_dmg/images/btn_mylist.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: opacity .2s;
	@include pc {
		width: 48px;
		height: 48px;
	}
	@include sp {
		width: 10vw;
		height: 10vw;
	}
	&:hover {
		opacity: .6;
	}
	&.is-active {
		background-image: url("../../common_dmg/images/btn_mylist_on.png");
	}
}

.p-playerButtons {
	@include pc {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include sp {
		margin-top: 5vw;
	}
	&__item {
		@include pc {

		}
		@include sp {

		}
		& + & {
			@include pc {
				margin-left: 10px;
			}
			@include sp {
				margin-top: 2.2vw;
			}
		}
		a {
			display: flex;
			align-items: center;
			border-radius: 5px;
			color: #fff;
			line-height: 1.5;
			@include pc {
				justify-content: center;
				width: 230px;
				height: 60px;
				padding: 5px 10px;
				font-size: 16px;
			}
			@include sp {
				justify-content: flex-start;
				width: 100%;
				height: 17vw;
				padding: 1vw 6vw;
				font-size: 4.5vw;
			}
		}
		&--speed {
			a {
				background-color: $colorButtonSpeed01;
				border: 1px solid $colorButtonSpeed01;
				&::before {
					content: "";
					display: block;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					@include pc {
						width: 32px;
						height: 32px;
						margin-right: 10px;
					}
					@include sp {
						width: 2em;
						height: 100%;
						margin-right: .5em;
					}
				}
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonSpeed01;
					color: $colorButtonSpeed01;
				}
				&.is-normal {
					&::before {
						background-image: url("../images/ico_time_high.png");
					}
				}
				&.is-normal:hover {
					&::before {
						background-image: url("../images/ico_time_high_on.png");
					}
				}
				&.is-highSpeed {
					&::before {
						background-image: url("../images/ico_time_normal.png");
					}
				}
				&.is-highSpeed:hover {
					&::before {
						background-image: url("../images/ico_time_normal_on.png");
					}
				}
			}
		}
		&--document {
			a {
				background-color: $colorButtonDocument01;
				border: 1px solid $colorButtonDocument01;
				&::before {
					content: "";
					display: block;
					background-image: url("../images/ico_document.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					@include pc {
						margin-right: 5px;
						margin-left: -5px;
						width: 32px;
						height: 32px;
					}
					@include sp {
						width: 2em;
						height: 100%;
						margin-right: .5em;
					}
				}
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonDocument01;
					color: $colorButtonDocument01;
					&::before {
						background-image: url("../images/ico_document_on.png");
					}
				}
			}
		}
		&--displayPdf {
			a {
				background-color: $colorButtonSpeed01;
				border: 1px solid $colorButtonSpeed01;
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonSpeed01;
					color: $colorButtonSpeed01;
				}
			}
		}
		&--downloadPdf {
			a {
				background-color: $colorButtonDocument01;
				border: 1px solid $colorButtonDocument01;
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonDocument01;
					color: $colorButtonDocument01;
				}
			}
		}
	}
}

.p-player__footer {
	&__inner {
		// height: 100%;
		display: flex;
		flex-direction: column;
		@include pc{
			justify-content: flex-start;
			align-items: flex-start;
			gap: 2em;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		@include sp{
			flex-direction: column;
			justify-content: center;
			gap: 1em;
			width: 100%;
		}
	}
	&__primary {
		width: 100%;
	}
	&__secondary {
		@include sp{
			margin-top: .5em;
		}
	}
	&__copyright {
		color: $colorTextMain;
		line-height: normal;
		@include pc {
			font-size: 14px;
		}
		@include sp {
			font-size: 2.8vw;
		}
	}
	&__materialnumber {
		color: $colorTextMain;
		line-height: normal;
		margin-top: 1em;
		@include pc {
			font-size: 14px;
		}
		@include sp {
			font-size: 3.1vw;
		}

	}
	&__link {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		line-height: normal;
		@include pc {
			gap: 2em;
			font-size: 14px;
		}
		@include sp {
			gap: 1em ;
			font-size: 3.1vw;
		}
		a {
			color: #0779A8;
			&:hover {
				opacity: .6;
			}
		}
	}
}