/*-----------------------------------------------
	video list
-----------------------------------------------*/
.p-videoList {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
	@include pc {
		justify-content: flex-start;
	}
	@include sp {
		justify-content: space-between;
	}
	// 最終行対策1
	&::before {
		content: "";
		display: block;
		order: 1;
		@include pc {

		}
		@include sp {
			width: 50%;
		}
	}
	// 最終行対策2
	&::after {
		content: "";
		display: block;
		@include pc {

		}
		@include sp {
			width: 50%;
		}
	}
	& + & {
		@include pc {

		}
		@include sp {
	
		}
	}
	&__item {
		border-bottom: 1px solid $colorGray04;
		@include pc {
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-last-child(4) {
				border-bottom: none;
			}
		}
		@include sp {
			width: 50%;
			&:last-child,
			&:nth-last-child(2) {
				border-bottom: none;
			}
		}
		& + & {
			@include pc {
				padding-left: calc(((100% - 270px * 4) / 3));
			}
			@include sp {
				
			}
		}
		&:nth-child(-n + 4) {
			@include pc {
				margin-top: 0px;
			}
			@include sp {

			}
		}
		&:nth-child(4n + 1) {
			@include pc {
				padding-left: 0;
			}
			@include sp {

			}
		}
		&:nth-child(odd) {
			@include pc {

			}
			@include sp {
				padding-right: 2vw;
			}
		}
		&:nth-child(even) {
			@include pc {

			}
			@include sp {
				padding-left: 2vw;
			}
		}
	}
}

.p-videoItem {
	@include pc {
		width: 270px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	@include sp {
		width: 100%;
		margin-top: 8vw;
		margin-bottom: 8vw;
	}
	&__link {
		display: block;
		transition: opacity .2s;
		&:hover {
			opacity: .6;
		}
	}
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		// 4:3の画角に対応するために敷いた黒背景です。必要なければコメントアウト
    // background-color: #000;
		img {
			max-width: 100%;
			max-height: 100%;
		}
		@include pc {
			height: 152px;
		}
		@include sp {
			height: calc(44vw * 0.5625);
		}
		&.is-new {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: $colorNew transparent transparent transparent;
				@include pc {
					border-width: 40px 40px 0 0;
				}
				@include sp {
					border-width: 8vw 8vw 0 0;
				}
			}
			&::after {
				content: "NEW";
				position: absolute;
				color: #fff;
				font-weight: bold;
				text-align: center;
				transform: rotate(-45deg);
				z-index: 2;
				@include pc {
					top: 8px;
					left: 0px;
					font-size: 11px;
					line-height: 1.2;
				}
				@include sp {
					top: .8em;
					left: 0px;
					font-size: 2.2vw;
					line-height: 1.2;
				}
			}
			@include pc {

			}
			@include sp {
		
			}
		}
	}
	&__title {
		height: 3em;
		color: $colorTextMain;
		font-weight: bold;
		line-height: 1.5;
		overflow: hidden;
		@include pc {
			margin-top: 10px;
			font-size: 16px;
		}
		@include sp {
			margin-top: 2.5vw;
			font-size: 3vw;
		}
	}
	&__detail {
		position: relative;
		@include pc {

		}
		@include sp {
			padding-top: 1vw;
		}
	}
	&__info {
		@include pc {
			margin-top: 10px;
		}
		@include sp {
		}
	}
	&__labelList {
		@include pc {
			margin-top: 5px;
		}
		@include sp {
			margin-top: 2vw;
		}
	}
	&__checkButton {
		position: absolute;
		background-image: url("../../common_dmg/images/ico_check_1.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		transition: opacity .2s;
		@include pc {
			bottom: 0;
			right: 0;
			margin-bottom: -2px;
			width: 25px;
			height: 25px;
		}
		@include sp {
			top: 0;
			right: 0;
			width: 5vw;
			height: 5vw;
		}
		&:hover {
			opacity: .6;
		}
		&.is-active {
			background-image: url("../../common_dmg/images/ico_check_2.png");
		}
	}
}

.p-videoInfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	color: $colorGray01;
	@include pc {
		justify-content: flex-start;
		min-height: 21px;
	}
	@include sp {
		align-items: flex-start;
		min-height: 10vw;
		margin-bottom: .3em;
	}
	&__time,
	&__pdf,
	&__web,
	&__link {
		width: 100%;
		@include sp {
			width: 100%;
			height: 4.2vw;
		}
		span{
			text-align: center;
			@include pc {
				width: 50px;
				font-size: 10px;
				margin-left: 1px;
				margin-right: 8px;
				padding: 3px 10px;
				border-radius: 8px;
			}
			@include sp {
				font-size: 2.8vw;
				margin-bottom: get-vw(5);
				margin-right: 1em;
				margin-left: .2em;
				padding: 0.32vw 2.2vw;
				border-radius: 1.9vw;
			}
		}

	}
	&__web,
	&__time,
	&__pdf,
	&__web,
	&__link{
		display: flex;
		justify-content: flex-start;
		align-items: center;

		span{
			display: inline-block;
			color: #d54927;
			border: 1px solid #d54927;
		}
	}
		// &__pdf{
	// 	span{
	// 		display: inline-block;
	// 		background-color: #d54927;
	// 		color: #fff;
	// 		border: 1px solid #d54927;
	// 	}
	// }
	&__link{
	}
	&__time {
		@include pc {
			font-size: 13px;
		}
		@include sp {
			// margin-bottom: 2vw;
			font-size: 2.8vw;
		}
		span, div{
			display: flex;
			justify-content: center;
		}
		div {
			display: flex;
			align-items: center;
			@include sp{
				font-size: 2.8vw;
			}
			&::before {
				content: "";
				display: block;
				background-image: url("../images/ico_clock.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				@include pc {
					width: 1em;
					height: 1em;
					margin-right: 2px;
				}
				@include sp {
					width: 1em;
					height: 1em;
					margin-right: 2px;
				}
			}
		}
		span{
			@include pc{
				margin-left: 1px;
				margin-right: 8px;
			}
			@include sp{
				margin-right: 1em;
				margin-left: .2em;
			}
		}

	}
	// &__web {
	// 	span{
	// 		background-color: #fff;
	// 	}
	// }
	&__expired {
		border: 1px solid $colorGray01;
		border-radius: 10px;
		@include pc {
			padding: .25em .5em;
			margin-right: 8px;
			margin-top: 5px;
			font-size: 10px;
		}
		@include sp {
			padding: .25em 1em;
			font-size: 2vw;
			margin-right: .9em;
			// margin-bottom: .2em;

		}
	}
	&__date {
		@include pc {
			font-size: 13px;
			margin-top: 5px;
		}
		@include sp {
			font-size: 2.8vw;
			align-self: center;
		}
	}
	&.is-longVideo &__time,
	&.is-longVideo &__date {
		@include pc {
			font-size: 11px;
		}
		@include sp {

		}
	}
}

.p-videoLabelList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include pc {
		max-width: 235px;
	}
	@include sp {

	}
	&__item {
		// background-color: $colorGray01;
		border: 1px solid $colorGray01;
		border-radius: 3px;
		color: #fff;
		text-align: center;
		@include pc {
			padding: .25em 1em;
			font-size: 12px;
		}
		@include sp {
			padding: .4em .4em;
			font-size: 2.5vw;
		}
		&:first-child{
			background-color: $colorLilly;
		}
		& + & {
			background-color: #fff;
			color: $colorLilly;
			@include pc {
				margin-left: .5em;
			}
			@include sp {
				// min-width: 15.2vw;
				margin-left: .5em;
			}	
		}
		&--olm {
			background-color: $colorOlm;
			border-color: $colorOlm;
			color: #fff;
		}
		&--tal {
			background-color: $colorTal;
			border-color: $colorTal;
			color: #fff;
		}
		&--tal {
			background-color: $colorLilly;
			border-color: $colorLilly;
			color: #fff;
		}
	}
}

.p-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	@include pc {
		margin-top: 30px;
	}
	@include sp {
		margin-top: 5vw;
	}
	&__item {
		@include pc {

		}
		@include sp {

		}
		& + & {
			@include pc {
				margin-left: 16px;
			}
			@include sp {
				margin-left: 4vw;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $colorPrimary;
		border-radius: 5px;
		color: $colorPrimary;
		transition: opacity .2s;
		@include pc {
			width: 24px;
			height: 34px;
			font-size: 16px;
		}
		@include sp {
			width: 6.2vw;
			height: 8.5vw;
			font-size: 3.2vw;
		}
		&:hover {
			opacity: .6;
		}
		&.is-current {
			background-color: $colorPrimary;
			color: #fff;
			cursor: default;
			pointer-events: none;
		}
	}
}

/* 20220225 タイトル横リンク追加修正 */
.p-titlelink{
	display: flex;
	align-items: center;
	@include pc{
		justify-content: space-between;
		position: absolute;
		top: 0;
		right: 0;
	}
	@include sp{
		justify-content: flex-end;
		margin-top: 8vw;
	}
	&__item{
		a{
			display: flex;
			align-items: center;
			border-radius: 5px;
			color: #fff;
			line-height: 1.5;
			border: 1px solid #707c88;
			color: #707c88;
			background-color: #fff;
			@include pc{
				justify-content: center;
				width: 190px;
				height: 45px;
				padding: .5em 1em;
				font-size: 14px;
			}
			@include sp{
				font-size: 3.4vw;
				padding: .3em 1em;
			}
			&:hover{
				opacity: .7;
			}
			&::before{
				content: "";
				display: block;
				background-image: url(../images/ico_document_on.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				@include pc{
					margin-right: 5px;
					margin-left: -5px;
					width: 25px;
					height: 25px;
				}
				@include sp{
					width: 6vw;
					height: 6vw;
				}
			}
		}
	}
}