<%
// page data
const page = {
	id: 'list_dmg',
	category: 'list',
	type: 'dmg',
	title: '糖尿病領域',
	categoryTitle: 'コンテンツ一覧',
	description: '',
	// discTemplate: '',
	// discTemplatePrefix: '',
	keywords: '',
	// breadcrumb: [],
	basePath: '../../',
	listPageDocumentSrc: 'https://www.lillymedical.jp/ja-jp/diabetes',
	materialnumber: 'PP--JP-0131',
	materialdate: '2023年7月作成',
};
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../../_include/_foundation/_head', { page: page }) %>
<body data-page-type="<%- page.type %>">
	<div class="u-loading">
		<div class="u-loading__spinner"></div>
	</div>
	<div class="l-wrapper">
		<%- include('../../../_include/_layout/_header', { page: page }) %>
		<%- include('../../../_include/_layout/_main', { page: page }) %>
		<%- include('../../../_include/_layout/_footer', { page: page }) %>
	</div>
</body>
</html>