<header class="l-header">
	<div class="l-header__inner">
		<div class="l-header__gnav">
			<ul class="p-gnav">
				<div class="p-gnav__item">
					<a class="p-gnav__link p-gnav__link--list" href="" id="listLink">コンテンツ一覧</a>
				</div>
				<div class="p-gnav__item">
					<a class="p-gnav__link p-gnav__link--mylist" href="../../mylist_dmg/index.html" id="mylistLink">マイリスト</a>
				</div>
			</ul>
		</div>
	</div>
</header>